<ion-menu contentId="main-content">
  <ion-content class="ion-padding">
    <app-avatar></app-avatar>
    <ion-buttons fill="clear" class="buttons">
      <ion-button [routerLink] ="['/pageconfig']">
        <ion-icon name="settings-sharp" class="icons"></ion-icon>
        <h1 class="label">Configuración</h1>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button [routerLink]="['/pagelogin']" (click) ="logout()">
        <ion-icon name="log-out" class="icons"></ion-icon>
        <h1 class="label">Cerrar Sesión</h1>
      </ion-button>
    </ion-buttons>



  </ion-content>
</ion-menu>
