<ion-card class="card">
  <img alt="Silhouette of mountains" src="../../../assets/icon/musical-notes-outline.svg"  class="icon"/>
  <ion-card-content class="card_content">
    <ion-card-subtitle id="login_text">Bienvenido a SoundCloud!</ion-card-subtitle>
    <ion-input [(ngModel)] = "usuario" label="Nombre de usuario" label-placement="floating" fill="outline" placeholder="" class="login_inputs"></ion-input>
    <ion-input [(ngModel)] = "password" label="Contraseña" label-placement="floating" fill="outline" placeholder="" type="password" class="login_inputs"></ion-input>
    <ion-button #loginBtn expand="block" (click)="validaciones()">Iniciar Sesión</ion-button>
    <ion-button #loginBtn expand="block" (click)="redirect()">¿No tienes una cuenta?</ion-button>
  </ion-card-content>
</ion-card>
