<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CONFIGURACION DE USUARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CONFIGURACION DE USUARIO</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <p>Aca se mostrara las configuraciones básicas del usuario:
      -Cambiar nombre/contraseña
      -Cambiar Foto de perfil desde la galeria (funcion nativa)
      -Cerrar la sesión
    </p>
  </div>
  <div>
    <a [routerLink] = "['/pagelogin']">IR A PAGE LOGIN</a>
  </div>
</ion-content>
